PORT=80
CORS_ORIGIN='http://localhost:5173'

FIREBASE_PROJECT_ID="project id"
FIREBASE_PRIVATE_KEY="private key"
FIREBASE_CLIENT_EMAIL="client email"

QUERIES_CACHE_TIME_SEC=300        # sec (5 * 60)

JWT_SECRET='jwt secret'
ACCESS_TOKEN_EXPIRES_IN=900       # sec (15 * 60)
REFRESH_TOKEN_EXPIRES_IN=604800   # sec (7* 24 * 60 * 60)

USER_DEFAULT_ROLE='user'
USER_ADMIN_ROLE='admin'